<h1>CRUD Node/Bootstrap</h1>

<hr>
<button class="btn btn-primary"><a href='inserir' style="color:white">Inserir</a></button>

<button class="btn btn-primary"><a href='listar' style="color:white">Listar</a></button><br>

