<h1>Cadastro</h1>


<form name="form1" action="controllerForm" method="POST">

  <div class="form-group">
      Nome: <input class="form-control" type="text" name="nome" id="nome" placeholder="Digite seu nome"><br>
      Data de Nascimento: <input class="form-control" type="date" name="data_nasc" id="data_nasc" ><br>
      E-mail: <input class="form-control" type="email" name="email" id="email" placeholder="exemplo@exemplo.com"><br>
      Senha: <input class="form-control" type="password" name="senha" id="senha" placeholder="Digite sua senha"><br>
  

<button type="submit" name="btnSubmit" id="btnSubmit" class="btn btn-primary">Cadastrar</button>
</div>
<br>
<div class="form-group">    
<button class="btn btn-primary"><a href='listar' style="color:white">Voltar</a></button><br>
  </div>
</form>